Repository simono/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-syntax, dotbot-config

fish-syntax:
  name: Validate Fish scripts
  entry: fish -n
  language: system
  stages:
  - pre-push

dotbot-config:
  name: Validate Dotbot configs
  entry: dotbot -n -c
  language: python
  additional_dependencies:
  - dotbot
  stages:
  - pre-push

fish: add gsw and wtsw/wtswc abbreviations
  fish/conf.d/git.fish
  fish/conf.d/worktrunk.fish
Due: fish-syntax

brew: remove Keynote and update Numbers/Pages app IDs
  Brewfile
Due: none

prek: run pre-push stage in CI to include all hooks
  .github/workflows/validate.yml
Due: none

zoxide: add ji function using television for interactive mode
  fish/conf.d/zoxide.fish
  television/cable-overrides/zoxide.toml
Due: fish-syntax

zoxide: add directory completions for j command
  fish/conf.d/zoxide.fish
Due: fish-syntax

zoxide: clear fish's autojump completions before init
  fish/conf.d/zoxide.fish
Due: fish-syntax

fish: fix rg function description
  fish/functions/rg.fish
Due: fish-syntax

fish: consolidate aliases into conf.d/aliases.fish
  fish/conf.d/abbreviations.fish
  fish/conf.d/aliases.fish
  fish/functions/cp.fish
  fish/functions/l.fish
  fish/functions/ll.fish
  fish/functions/mv.fish
  fish/functions/rm.fish
Due: fish-syntax

fish: fix alias completions by removing command prefix
  fish/conf.d/aliases.fish
Due: fish-syntax

fish: switch from Hydro to Tide for prompt
  README.md
  dotbot-config.yaml
  fish/conf.d/prompt.fish
  fish/conf.d/theme.fish
  fish/fish_plugins
Due: fish-syntax, dotbot-config

zoxide: remove completions workaround
  fish/conf.d/zoxide.fish
Due: fish-syntax

readme: add fd, fisher, television, worktrunk
  README.md
Due: none

tide: disable time in prompt
  dotbot-config.yaml
Due: dotbot-config

fish: format
  fish/conf.d/theme.fish
Due: fish-syntax

prek: add mixed-line-ending hook
  .pre-commit-config.yaml
Due: none

fish: add Rosé Pine theme for Tide prompt colors
  fish/conf.d/theme.fish
  fish/fish_plugins
Due: fish-syntax

fish: add Tide reload workaround for cached colors
  fish/conf.d/theme.fish
Due: fish-syntax

Revert "fish: add Tide reload workaround for cached colors"
  fish/conf.d/theme.fish
Due: fish-syntax

fish: suppress error from fish_vi_key_bindings regression
  fish/conf.d/vi.fish
Due: fish-syntax

Revert "fish: suppress error from fish_vi_key_bindings regression"
  fish/conf.d/vi.fish
Due: fish-syntax

worktrunk: migrate to wt switch command for v0.22
  fish/conf.d/worktrunk.fish
Due: fish-syntax

worktrunk: simplify abbreviations to wts and wtsb
  fish/conf.d/worktrunk.fish
Due: fish-syntax

fish: update to new Rosé Pine Tide repo
  fish/fish_plugins
Due: none

prek: migrate from pre-commit to prek
  .pre-commit-config.yaml
  prek.toml
Due: none

prek: add fish_indent formatting hooks
  prek.toml
Due: none

fish: apply fish_indent formatting
  fish/conf.d/bat.fish
  fish/conf.d/git.fish
  fish/conf.d/theme.fish
  fish/conf.d/vi.fish
  fish/conf.d/worktrunk.fish
Due: fish-syntax

prek: unify hook name casing to lowercase
  prek.toml
Due: none

dotbot: use fish syntax for television cable override loop
  dotbot-config.yaml
Due: dotbot-config

fish: support Linux Homebrew path in homebrew config
  fish/conf.d/homebrew.fish
Due: fish-syntax

tmux: add configuration
  dotbot-config.yaml
  tmux/tmux.conf
Due: dotbot-config

dotbot: fix Brewfile.local check failing when file missing
  dotbot-update.yaml
Due: dotbot-config

vim-sneak: use HTTPS submodule URL
  .gitmodules
Due: none

split Brewfile and dotbot-update for Linux support
  Brewfile
  Brewfile.mac
  dotbot-update-mac.yaml
  dotbot-update.yaml
  fish/functions/so-dotfiles-update.fish
Due: fish-syntax, dotbot-config

docs: add Linux setup guide
  docs/linux.md
Due: none

bat: fix manpager theme on Linux
  fish/conf.d/bat.fish
  fish/conf.d/theme.fish
Due: fish-syntax

fish: fix so-brewfile-missing
  fish/functions/so-brewfile-missing.fish
Due: fish-syntax

prek: add standard header
  prek.toml
Due: none

Path conditions:
  fish-syntax: any of: \.fish$
  dotbot-config: any of: ^dotbot-.*\.yaml$
