Repository simono/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: fish-syntax, dotbot-config

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: fish-syntax
        name: Validate Fish scripts
        entry: fish -n
        language: system
        files: \.fish$
        stages: [pre-push]

      - id: dotbot-config
        name: Validate Dotbot configs
        entry: dotbot -n -c
        language: python
        additional_dependencies: [dotbot]
        files: ^dotbot-.*\.yaml$
        stages: [pre-push]

fish: switch prompt from Tide to Pure
  README.md
  dotbot-config.yaml
  fish/conf.d/prompt.fish
  fish/conf.d/theme.fish
  fish/fish_plugins
Due: fish-syntax, dotbot-config

fish: skip interactive config in non-interactive shells
  fish/conf.d/aliases.fish
  fish/conf.d/bell.fish
  fish/conf.d/television.fish
  fish/conf.d/theme.fish
  fish/conf.d/vi.fish
  fish/conf.d/worktrunk.fish
  fish/conf.d/zoxide.fish
Due: fish-syntax

zed: update settings
  zed/settings.json
Due: none

prek: add trailing commas and check-executables-have-shebangs hook
  prek.toml
Due: none

fish: use stable link to Delta documentation
  fish/conf.d/theme.fish
Due: fish-syntax

README: add prek and update links
  README.md
Due: none

Move machine-specific config to private dotfiles
  Brewfile
  Brewfile.mac
  README.md
  docs/linux.md
  dotbot-config.yaml
  dotbot-update-mac.yaml
  dotbot-update.yaml
  fish/functions/so-brewfile-missing.fish
  fish/functions/so-dotfiles-update.fish
  git/gitconfig
Due: fish-syntax, dotbot-config

git: move config to XDG path ~/.config/git/
  dotbot-config.yaml
  git/config
Due: dotbot-config

fish: use rose for cwd in pure prompt
  fish/conf.d/theme.fish
Due: fish-syntax

Migrate dotfiles from dotbot to Ansible
  Brewfile
  README.md
  ansible.cfg
  bat/tasks.yaml
  dotbot-config.yaml
  dotbot-sync.yaml
  eza/tasks.yaml
  fish/tasks.yaml
  ghostty/tasks.yaml
  git/tasks.yaml
  inventory
  playbook.yaml
  prek.toml
  ripgrep/tasks.yaml
  television/tasks.yaml
  tmux/tasks.yaml
  vim/tasks.yaml
  zed/tasks.yaml
Due: dotbot-config

Move vim, tmux, and ripgrep configs to XDG paths
  fish/conf.d/rg.fish
  ripgrep/tasks.yaml
  tmux/tasks.yaml
  vim/tasks.yaml
Due: fish-syntax

Update Location comments and rename ripgreprc to config
  ripgrep/config
  ripgrep/tasks.yaml
  tmux/tmux.conf
Due: none

ansible: hide ok and skipped hosts from output
  ansible.cfg
Due: none

ansible: sync submodules after pull
  playbook.yaml
Due: none

Use rose-pine/pure plugin for pure prompt colors
  fish/conf.d/theme.fish
  fish/fish_plugins
Due: fish-syntax

ansible: symlink ansible.cfg to ~/.ansible.cfg
  ansible/ansible.cfg
  ansible/tasks.yaml
Due: none

ansible: move inventory into ansible/ and use absolute path
  ansible/ansible.cfg
  ansible/inventory
Due: none

ci: pin actions to full-length commit SHAs
  .github/workflows/validate.yml
Due: none

fish: improve idiom and correctness
  fish/conf.d/bat.fish
  fish/conf.d/bell.fish
  fish/conf.d/git.fish
  fish/conf.d/homebrew.fish
  fish/conf.d/theme.fish
  fish/functions/rg.fish
Due: fish-syntax

tmux: enable focus-events for vim autoread support
  tmux/tmux.conf
Due: none

brew: add git-absorb and git-revise
  Brewfile
Due: none

fish: convert so-tmp function to alias
  fish/conf.d/aliases.fish
  fish/functions/so-tmp.fish
Due: fish-syntax

Remove rose-pine/pure plugin, now handled by rose-pine/fish
  fish/conf.d/theme.fish
  fish/fish_plugins
Due: fish-syntax

ghostty: copy selected text to the clipboard
  ghostty/config
Due: none

fish: move MANPAGER to bat.fish, drop Solarized workaround
  fish/conf.d/bat.fish
  fish/conf.d/theme.fish
Due: fish-syntax

fish: update `wtsb` to also list remote branches
  fish/conf.d/worktrunk.fish
Due: fish-syntax

ghostty: use native notify-on-command-finish, drop fish bell hook
  fish/conf.d/bell.fish
  ghostty/config
Due: fish-syntax

tmux: enable allow-passthrough for terminal notifications
  tmux/tmux.conf
Due: none

rg: use `delta rg` alias instead of custom function
  fish/conf.d/rg.fish
  fish/functions/rg.fish
Due: fish-syntax

Simplify Homebrew setup now that /etc/paths.d/homebrew exists
  fish/conf.d/homebrew.fish
  ghostty/config
Due: fish-syntax

Revert ghostty command to absolute path
  ghostty/config
Due: none

Remove ghostty shift+enter keybind workaround
  ghostty/config
Due: none

Remove fish/functions references from tasks
  fish/tasks.yaml
Due: none

Add requires-python to merge-toml script
  television/merge-toml.py
Due: none

ansible: remove force: true from symlink tasks
  ansible/tasks.yaml
  bat/tasks.yaml
  eza/tasks.yaml
  fish/tasks.yaml
  ghostty/tasks.yaml
  git/tasks.yaml
  ripgrep/tasks.yaml
  television/tasks.yaml
  tmux/tasks.yaml
  vim/tasks.yaml
  zed/tasks.yaml
Due: none

prek: update config
  fish/conf.d/theme.fish
  prek.toml
Due: fish-syntax

tmux: enable extended keys for Shift+Enter support
  tmux/tmux.conf
Due: none

fish: enable pure k8s context in prompt
  fish/conf.d/prompt.fish
Due: fish-syntax

fish: only enable pure k8s prompt on systems with kubectl
  fish/conf.d/prompt.fish
Due: fish-syntax

fish: disable pure k8s prompt when kubectl is absent
  fish/conf.d/prompt.fish
Due: fish-syntax
